.bg-image-intro{
    background-image: url(../images/red_book.png);
    background-repeat: no-repeat;
    background-size: 90% 120%;
}

.bg-image-wells{
    background-image: url(../images/GettyImages-2119740.0.0.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image-butler{
    background-image: url(../images/butler.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}


.white-text{
    color: whitesmoke;
}
body{
    font-family: Lato;
}

.pdfobject-container { height: 30rem; border: 1rem solid rgba(0,0,0,.1);width: 50%; }